<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!-- 配置文件路径 -->
    <!-- <properties resource="generatorConfig.properties"/>  -->

    <context id="DB2Tables" targetRuntime="com.mailian.generator.util.InsoIntrospectedTable">

        <!--<plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" />-->

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"></plugin>

        <!-- 自定义方法 -->
        <plugin type="com.mailian.generator.util.MapperPlugin">
            <property name="targetProject" value="${target.project}"/>
            <property name="targetPackage" value="${mapper.package}"/>
        </plugin>

        <commentGenerator type="com.mailian.generator.util.MyCommentGenerator">
            <property name="javaFileEncoding" value="UTF-8"/>
            <property name="replaceNamespace" value="true"/>
            <property name="mapperNamespace" value="${mapper.package}"/>
        </commentGenerator>

        <!--<commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="false"/>
            <property name="javaFileEncoding" value="UTF-8"/>
        </commentGenerator>-->

        <jdbcConnection driverClass="${jdbc.driver}"
                        connectionURL="${jdbc.url}"
                        userId="${jdbc.username}"
                        password="${jdbc.password}">
            <!-- 针对mysql数据库 -->
            <property name="useInformationSchema" value="true"></property>
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="${model.package}" targetProject="${target.project}">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
            <property name="javaExampleTargetPackage" value="${model.package}"/>
            <property name="javaExampleTargetProject" value="${target.project}"/>
            <!-- 设置一个根对象，
            如果设置了这个根对象，那么生成的keyClass或者recordClass会继承这个类；在Table的rootClass属性中可以覆盖该选项
            注意：如果在key class或者record class中有root class相同的属性，MBG就不会重新生成这些属性了，包括：
                1，属性名相同，类型相同，有相同的getter/setter方法；
         -->
            <property name="rootClass" value="com.mailian.core.base.model.BaseDomain"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="${xml.package}"  targetProject="${xml.target.project}">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!-- schema即为数据库名 tableName为对应的数据库表 domainObjectName是要生成的实体类 enable*ByExample
				是否生成 example类 -->
        <!-- 忽略列，不生成bean 字段 -->
        <!--<ignoreColumn column="FRED" /> -->
        <!-- 指定列的java数据类型 -->
        <!--<columnOverride column="LONG_VARCHAR_FIELD" jdbcType="VARCHAR" /> -->

        <table tableName="t_sys_oper_log" domainObjectName="OperLog" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_sys_role" domainObjectName="Role" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_sys_user_role" domainObjectName="UserRole" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_user" domainObjectName="User" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <property name="likeNames" value="full_name"/>
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_sys_menu" domainObjectName="Menu" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_sys_role_menu" domainObjectName="RoleMenu" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_sys_area" domainObjectName="Area" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_sys_config" domainObjectName="SysConfig" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_sys_job" domainObjectName="Job" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_sys_job_log" domainObjectName="JobLog" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_sys_serial_number" domainObjectName="SerialNumber" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_sys_dict_type" domainObjectName="DictType" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_sys_dict_data" domainObjectName="DictData" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_precinct" domainObjectName="Precinct" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_user_precinct" domainObjectName="UserPrecinct" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_unit" domainObjectName="Unit" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <property name="likeNames" value="unit_name"/>
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_facilities" domainObjectName="Facilities" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_diagram_struct" domainObjectName="DiagramStruct" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
        </table>
        <table tableName="t_diagram_item" domainObjectName="DiagramItem" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_unit_camera" domainObjectName="UnitCamera" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_unit_patrol" domainObjectName="UnitPatrol" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_load" domainObjectName="Load" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_load_max" domainObjectName="LoadMax" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_facilities_alarm" domainObjectName="FacilitiesAlarm" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_unit_device" domainObjectName="UnitDevice" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_app" domainObjectName="App" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
    </context>
</generatorConfiguration>
