<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!-- 配置文件路径 -->
    <!-- <properties resource="generatorConfig.properties"/>  -->

    <context id="DB2Tables" targetRuntime="com.mailian.generator.util.InsoIntrospectedTable">

        <!--<plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" />-->

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"></plugin>

        <!-- 自定义方法 -->
        <plugin type="com.mailian.generator.util.MapperPlugin">
            <property name="targetProject" value="${target.project}"/>
            <property name="targetPackage" value="${mapper.package}"/>
        </plugin>

        <commentGenerator type="com.mailian.generator.util.MyCommentGenerator">
            <property name="javaFileEncoding" value="UTF-8"/>
            <property name="replaceNamespace" value="true"/>
            <property name="mapperNamespace" value="${mapper.package}"/>
        </commentGenerator>

        <!--<commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="false"/>
            <property name="javaFileEncoding" value="UTF-8"/>
        </commentGenerator>-->

        <jdbcConnection driverClass="${jdbc.driver}"
                        connectionURL="${jdbc.url}"
                        userId="${jdbc.username}"
                        password="${jdbc.password}">
            <!-- 针对mysql数据库 -->
            <property name="useInformationSchema" value="true"></property>
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="${model.package}" targetProject="${target.project}">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
            <property name="javaExampleTargetPackage" value="${model.package}"/>
            <property name="javaExampleTargetProject" value="${target.project}"/>
            <!-- 设置一个根对象，
            如果设置了这个根对象，那么生成的keyClass或者recordClass会继承这个类；在Table的rootClass属性中可以覆盖该选项
            注意：如果在key class或者record class中有root class相同的属性，MBG就不会重新生成这些属性了，包括：
                1，属性名相同，类型相同，有相同的getter/setter方法；
         -->
            <property name="rootClass" value="com.mailian.core.base.model.BaseDomain"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="${xml.package}"  targetProject="${xml.target.project}">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!--<javaClientGenerator type="XMLMAPPER"
                             targetPackage="${mapper.package}"
                             targetProject="${target.project}">
            <property name="enableSubPackages" value="true" />
            <property name="rootInterface" value=""/>
        </javaClientGenerator>-->

        <!-- schema即为数据库名 tableName为对应的数据库表 domainObjectName是要生成的实体类 enable*ByExample
				是否生成 example类 -->
        <!-- 忽略列，不生成bean 字段 -->
        <!--<ignoreColumn column="FRED" /> -->
        <!-- 指定列的java数据类型 -->
        <!--<columnOverride column="LONG_VARCHAR_FIELD" jdbcType="VARCHAR" /> -->

        <!--<table tableName="t_diagram_struct" domainObjectName="DiagramStruct" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">

        </table>-->

       <!-- <table tableName="t_user" domainObjectName="User" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_sys_role" domainObjectName="Role" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="role_id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_app" domainObjectName="App" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_areas" domainObjectName="Areas" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_camera" domainObjectName="Camera" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_chart" domainObjectName="Chart" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_device_relation" domainObjectName="DeviceRelation" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="did" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_energy_chart" domainObjectName="EnergyChart" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_load" domainObjectName="Load" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_load_max" domainObjectName="LoadMax" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_provider" domainObjectName="Provider" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_report" domainObjectName="Report" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_report_module" domainObjectName="ReportModule" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_report_module_item" domainObjectName="ReportModuleItem" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_station" domainObjectName="Station" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_project" domainObjectName="Project" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_trend_analysis" domainObjectName="TrendAnalysis" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_user_station" domainObjectName="UserStation" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_diagram_struct" domainObjectName="DiagramStruct" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
        </table>

        <table tableName="t_diagram_item" domainObjectName="DiagramItem" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_sys_organization" domainObjectName="Organization" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>


        <table tableName="t_sys_post" domainObjectName="Post" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>


        <table tableName="t_equipment" domainObjectName="Equipment" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>


        <table tableName="t_equipment_log" domainObjectName="EquipmentLog" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_site" domainObjectName="Site" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_user_scheduling" domainObjectName="UserScheduling" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_user_scheduling_log" domainObjectName="UserSchedulingLog" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_inspection_plan" domainObjectName="InspectionPlan" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_inspection_plan_site" domainObjectName="InspectionPlanSite" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
        </table>

        <table tableName="t_inspection_plan_item" domainObjectName="InspectionPlanItem" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_inspection_person_time" domainObjectName="InspectionPersonTime" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_inspection_task" domainObjectName="InspectionTask" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
        </table>

        <table tableName="t_inspection_task_site" domainObjectName="InspectionTaskSite" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
        </table>

        <table tableName="t_inspection_task_item" domainObjectName="InspectionTaskItem" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_inspection_task_history" domainObjectName="InspectionTaskHistory" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_maintain_plan" domainObjectName="MaintainPlan" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_maintain_plan_cycle" domainObjectName="MaintainPlanCycle" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_maintain_plan_equipment" domainObjectName="MaintainPlanEquipment" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
        </table>

        <table tableName="t_maintain_plan_equipment_item" domainObjectName="MaintainPlanEquipmentItem" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_maintain_plan_preview" domainObjectName="MaintainPlanPreview" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>


        <table tableName="t_maintain_task" domainObjectName="MaintainTask" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
        </table>

        <table tableName="t_maintain_task_equipment" domainObjectName="MaintainTaskEquipment" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
        </table>


        <table tableName="t_maintain_task_equipment_item" domainObjectName="MaintainTaskEquipmentItem" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>


        <table tableName="t_equipment_alarm" domainObjectName="EquipmentAlarm" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
        </table>


        <table tableName="t_user_repair" domainObjectName="UserRepair" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_repair_work_order" domainObjectName="RepairWorkOrder" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>


        <table tableName="t_repair_work_pic" domainObjectName="RepairWorkPic" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>


        <table tableName="t_sys_menu" domainObjectName="Menu" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="menu_id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_sys_serial_number" domainObjectName="SerialNumber" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_alarm_work_pic" domainObjectName="AlarmWorkPic" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_maintain_task_log" domainObjectName="MaintainTaskLog" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>

        <table tableName="t_inspection_point" domainObjectName="InspectionPoint" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        -->

        <table tableName="t_equipment_alarm" domainObjectName="EquipmentAlarm" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
        </table>

        <!-- 公共库  -->
        <!--<table tableName="t_sys_dict_type" domainObjectName="DictType" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_sys_dict_data" domainObjectName="DictData" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_equipment_brand" domainObjectName="EquipmentBrand" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_equipment_brand_type" domainObjectName="EquipmentBrandType" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_inspection_standard" domainObjectName="InspectionStandard" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_inspection_standard_item" domainObjectName="InspectionStandardItem" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_maintain_standard" domainObjectName="MaintainStandard" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_maintain_standard_item" domainObjectName="MaintainStandardItem" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_fault_standard" domainObjectName="FaultStandard" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_fault_reason" domainObjectName="FaultReason" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_fault_handle" domainObjectName="FaultHandle" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_operation_standard" domainObjectName="OperationStandard" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_operation_content" domainObjectName="OperationContent" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        <table tableName="t_standard_change" domainObjectName="StandardChange" enableCountByExample="false" enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">
            <generatedKey column="id" sqlStatement="Mysql"  identity="true"/>
        </table>
        -->



    </context>
</generatorConfiguration>
