<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mailian.firecontrol.dao.manual.mapper.UnitManualMapper">

    <resultMap id="UnitDeviceResultMap" type="com.mailian.firecontrol.dto.UnitRedisInfo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
        <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
        <result column="precinct_id" jdbcType="INTEGER" property="precinctId" />
        <result column="area_id" javaType="INTEGER" property="areaId" />
        <result column="province_id" javaType="INTEGER" property="provinceId" />
        <result column="city_id" javaType="INTEGER" property="cityId" />
    </resultMap>
    <update id="updateUnitDeviceBatch">
        <foreach collection="upList" item="item" index="index" open="" close="" separator=";">
        update t_unit_device
        set unit_id = #{item.unitId,jdbcType=INTEGER},
          update_time = #{item.updateTime,jdbcType=TIMESTAMP},
          update_by = #{item.updateBy,jdbcType=VARCHAR}
        where id = #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <delete id="deleteDeviceByUnitId">
        delete from t_unit_device where unit_id = #{unitId,jdbcType=INTEGER}
    </delete>

    <select id="selectUnitDeviceByDeviceIds" resultMap="UnitDeviceResultMap">
        select u.id,ud.device_id,u.unit_name,u.precinct_id,u.area_id,u.province_id,u.city_id from t_unit_device ud,t_unit u
        where ud.unit_id = u.id
        and device_id in
        <foreach close=")" collection="deviceIds" index="i" item="item" open="(" separator=",">
            #{item,jdbcType=VARCHAR}
        </foreach>
    </select>
    <select id="selectDevicesExcludeUnitId" resultType="java.lang.String">
        select distinct(device_id) from t_unit_device
        <where>
            <if test="unitId != null">
                unit_id != #{unitId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="selectDevicesByUnitId" resultType="java.lang.String">
        select distinct(device_id) from t_unit_device
        <where>
            <if test="unitId != null">
                unit_id = #{unitId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="selectUnitDeviceByMap" resultMap="com.mailian.firecontrol.dao.auto.mapper.UnitDeviceMapper.BaseResultMap">
        select <include refid="com.mailian.firecontrol.dao.auto.mapper.UnitDeviceMapper.Base_Column_List"/> from t_unit_device
        <where>
            <if test="deviceIds != null">
                and device_id in
                <foreach close=")" collection="deviceIds" index="i" item="item" open="(" separator=",">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
    </select>
</mapper>